@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --shadow:0 4px 6px -1px rgb(0 0 0 / 0.1),
     0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow2: 2px 0px 2px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
     0 4px 6px -4px rgb(0 0 0 / 0.1);
}   

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

li, ul {
	list-style: none;
    margin:0;
    padding:0;
}
p{
    color:gray;
}
.material-symbols-outlined {
    font-size: 25px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}


body{
    font-family: 'Roboto', sans-serif;
}
.bold-text{
    font-weight: 900;
    font-size: 18px;
}
.container{
    display:grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
    resize:both;
}
.sidebar{
    grid-row: 1/3;
    display:grid;
    background-color: #0ea5e9;
    color:white;
    align-content:start;
    gap: 40px;
    padding:40px;
    
}
.bottom,.top{
    display:grid;
    gap: 1em;
}
.menu-item{
    display:grid;
    grid-template-columns: 50px 100px;
    gap: 30px;
    align-items:center;
    font-size:50px;
}
#dashboard{
    font-size: 40px;
}
.bold-text.dashboard{font-size: 25px;}
.menu-item>img{
    width:25px;
}
.menu-item>div{
    font-size:20px;
}
.menu-item:hover div{
    text-decoration: underline;
    cursor:pointer
}
.header{
    grid-column:2/-1;
    display:grid;
    grid-template-rows: auto 100px;
    background-color: #facc15;
    padding: 1.5rem 3rem;
    gap:20px;
    box-shadow: var(--shadow-lg);
    z-index: 3;
}
.profile{
    border-radius: 50%;
    height:50px;
}
.header-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(20px, 30px, 40px);
    align-items: center;
}
.header-top>.search{
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap:1rem;
}
.search>input{
    height:30px;    
    border:0;
    border-radius: 30px;
    width: min(80%, 700px);
}
.header-top>.items{
    display:grid;
    grid-template-columns: auto auto 1fr;
    gap: 30px;
    align-items: center;
    justify-self: end;
}
.header-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(20px, 30px, 40px);
    align-items:center;
}
.header-bottom>.profile{
    align-self: start;
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center;
}
.header-bottom>.profile>img{
    height:100px;
}
.header-bottom>.profile>.hello{
    display:grid;
    gap: .5em;
}
.hi{font-weight: 700; font-size: 14px;}
.huge{font-weight: 900; font-size: 24px;}
.header-bottom>.buttons{
    justify-self: end;
    display:flex;
    gap: 40px;
}
button{
    background-color: #0576ab;
    color: #e2e8f0;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border:0;
    font-weight:bold;
}
.main-content{
    background-color: #e2e8f0;
    grid-column: 2/-1;
    display:grid;
    grid-template-columns: 1fr clamp(300px,30%, 700px);
    padding:40px;
    overflow: auto;
}
.project-container{
    padding-right:60px;
    display:grid;
    grid-auto-rows: max-content;
    gap: 20px;
}
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
}
.card{
    border-left:10px solid orange;
    border-radius: .5rem;
    background-color: white;
    padding:2rem;
    box-shadow: var(--shadow);
    display:grid;
    grid-template-rows: auto auto 1fr;
}
.card>div{
    margin-bottom: .5em;
}
.card>.card-symbols{
    align-self: end;
    justify-self: end;
    display:grid;
    grid-auto-flow: column;
    gap: 2rem;
}
.announcement-content, .trending-content{
    border-radius: 15px;
    background-color: white;
    padding: 2rem;
    box-shadow: var(--shadow);
}
.info-container{
    display:grid;
    gap: 2rem;
    grid-auto-rows:max-content;
}
.announcement-container, .trending-container{
    display:grid;
    gap: 20px;
}
.announcement-content, .trending-content{
    display:grid;
    gap: 1rem;
}

.announcement-item+.announcement-item{
    padding-top: 1rem;
    border-top: 1px solid black;
}
.announcement-item>div{
    margin-bottom: .5em;
}
.trending-item{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
}